body {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0%;
}
.span-color {
  color: darkorange;
}
h1 {
  color: rgb(93, 84, 84);
  font-size: 50px;
  font-weight: 700;
}
p {
  color: gray;
  margin-bottom: 5%;
}
a {
  text-decoration: none;
}
.menu-bar {
  background-color: #eeeef0;
  height: 40px;
  padding: 1%;
  display: flex;
}
.menu-bar img {
  height: 40px;
}
ul.menu-list {
  display: flex;
  list-style: none;
}
ul li a {
  margin-left: 30px;
  color: black;
}
ul li a:hover {
  text-decoration: 5px green underline;
}
.Flexible {
  display: flex;
}
.text {
  margin-top: 10%;
}
.div-style {
  width: 50%;
  padding: 8% 5% 5% 5%;
  padding-left: 5%;
  padding-right: 5%;
}

div.image img {
  width: 100%;
}
.anchor-button {
  background-image: linear-gradient(90deg, darkorange, rgb(248, 79, 12));
  padding: 4% 7% 4% 7%;
  color: whitesmoke;
  font-size: 16px;
  font-weight: 600;
  border-radius: 40px;
}
.about {
  margin-top: 30px;
  background-image: url("images/7.png");
  background-repeat: no-repeat;
  height: 470px;
  padding: 0% 5% 0% 5%;
}

#about-img {
  width: 116%;
}
.my-recepies {
  margin: 0% 4% 0% 4%;
}
.about-recepie {
  text-align: center;
  margin-top: 10%;
}
.food-recepie {
  margin: 2%;
  width: 33%;
  padding: 1%;
  box-shadow: 10px 10px 30px gray;
  border-radius: 30px;
}
.recepie-img {
  width: 100%;
  border-radius: 20px;
}
#rice {
  height: 53%;
}
.Followers {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2% 3% 2% 3%;
  box-shadow: 3px 3px 15px grey;
  height: 148px;
  width: 80%;
  margin: 7%;
  border-radius: 20px;
}
footer {
  padding: 2% 0% 2% 0%;
  height: 170px;
  background-color: rgb(1, 2, 22);
  text-align: center;
}
footer h4 {
  color: rgb(184, 224, 240);
}
